extends ../layout

block contenido
    h1 Medicos
    a(href="/medicos/create" class="btn btn-success") Crear Médico
    a(href="/especialidades" class="btn btn-primary") Gestionar Especialidades

    if mensaje
        .alert.alert-success
            h1= mensaje

    script(
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"
    )

    table#example
        thead
            tr
                th N° Documento
                th Nombre
                th Apellido
                th Fecha Nacimiento
                th Especialidades
                th Matricula
                th Telefonos
                th Estado
                th Acciones

        tbody
            each medico in medicos
                - const especialidades = medico.especialidades ? medico.especialidades.split(', ') : []
                - const matriculas = medico.matriculas ? medico.matriculas.split(', ') : []
                - const telefonos = medico.telefonos ? medico.telefonos.split(', ') : []

                tr
                    td= medico.dni
                    td= medico.nombre
                    td= medico.apellido
                    td= medico.nacimiento || "Sin datos"

                    // -----------------------------
                    // ESPECIALIDADES
                    // -----------------------------
                    td
                        if especialidades.length === 0
                            span Sin datos
                        else if especialidades.length === 1
                            span= especialidades[0]
                        else
                            select
                                each esp in especialidades
                                    option= esp

                    // -----------------------------
                    // MATRICULAS
                    // -----------------------------
                    td
                        if matriculas.length === 0
                            span Sin datos
                        else if matriculas.length === 1
                            span= matriculas[0]
                        else
                            select
                                each mat in matriculas
                                    option= mat

                    // -----------------------------
                    // TELEFONOS
                    // -----------------------------
                    td
                        if telefonos.length === 0
                            span Sin datos
                        else if telefonos.length === 1
                            span= telefonos[0]
                        else
                            select
                                each tel in telefonos
                                    option= tel

                    // -----------------------------
                    // ESTADO
                    // -----------------------------
                    td= medico.estado === 1 ? "Activo" : "Inactivo"

                    // -----------------------------
                    // ACCIONES
                    // -----------------------------
                    td
                        a(href=`/medicos/edit/${medico.id_medico}` class="btn btn-info btn-sm") Gestionar
                        